#content-header
  = render 'shared/header'

%style{media: "screen"}
  \.header { background-image: url(#{@content.main_image}); background-size: cover;}
  \.nav-wrapper { background-color: rgba(0,0,0,0.2) }
  \.header .header-title { background-color: rgba(0,0,0,0.2);}

#content.container
  .card-panel
    = @content.body.html_safe

#content-footer
  = render 'shared/footer'