/ Modal Structure
/%a.waves-effect.waves-light.btn{:href => "#contact-modal"} Contact Me Now
#contact-modal.modal
  .modal-content
    %p
      %h4= t('website.contacts.title')
      .flow-text= t('website.contacts.subtitle')
    =render 'shared/contact'
  .modal-footer
    .center-align
      %b= "#{t('website.homepage.footer.copy_right')}"