%h4.row Đại lý Gạo Chén cơm
#addresses
  .row
    .col.s12.m6
      .card.secondary-background.valign-wrapper
        .card-content.white-text
          %span.card-title
            %a{href: 'http://ho.lazada.vn/SHSiic', class: 'white-text', target: '_blank'} Mua online tại Lazada
    .col.s12.m6
      .card.secondary-background.valign-wrapper
        .card-content.white-text
          %span.card-title
            %a{href: 'https://shopee.vn/locvanrice', class: 'white-text', target: '_blank'} Mua online tại Shopee
    .col.s12.m6
      .card.primary-background
        .card-content.white-text
          %span.card-title Đại lý chợ Vạn Hạnh
          %p
            %i.material-icons map
            3/3 ấp Vạn Hạnh, xã Trung Chánh, huyện Hóc Môn
          %p
            %i.material-icons phone
            chị Bình - 01228640809
%h4.row Liên hệ Gạo Lộc Vân
#contact
  .contact-element= render 'shared/zoho'
  .contact-element= render 'shared/self'
