%script{:type => "application/ld+json"}
  [{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "http://www.locvanrice.com",
  "contactPoint": [{
  "@type": "ContactPoint",
  "telephone": "+84-939-024-961",
  "contactType": "sales",
  "areaServed": ["US","VN","CN"]
  }]
  },
  {
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "http://www.locvanrice.com",
  "logo": "http://www.locvanrice.com/assets/brand/loc_van_rice_logo-209b26adf4165083cacb214e7fb77d89dfaf2fe55c1668b906589d2cb05bb7e1.png"
  },
  {
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": "Gạo Lộc Vân",
  "alternateName": "Loc Van Rice",
  "url": "http://www.locvanrice.com"
  },
  {
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "Anh Du",
  "url": "http://www.locvanrice.com",
  "sameAs": [
  "http://www.facebook.com/locvanrice",
  "http://youtube.com/channel/UCVHAdW6WH0ppV0E_LddVvzQ"
  ]
  }]
