<div class='ldashboard'>
  <h3 class='center-align'>This gonna be my title</h3>
  <div class='center-align'>This gonna be my subtitle</div>
  <div class='lcards'>
    <% 8.times do %>
    <div class='lcard'>
      <div class='ltop'>
        <div class='lprice right-align'>5,600 VND/kgs</div>
        <div class='valign-wrapper'><i class='material-icons red-text text-darken-2'>trending_down</i>200 VND</div>
      </div>
      <div class='lbot valign-wrapper'>Vietnam 5% Broken Rice</div>
    </div>
    <% end %>
  </div>
</div>