/
  Note :
  \- You can modify the font style and form style to suit your website.
  \- Code lines with comments “Do not remove this code”  are required for the form to work properly, make sure that you do not remove these lines of code.
  \- The Mandatory check script can modified as to suit your business needs.
  \- It is important that you test the modified form before going live.
#crmWebToEntityForm{:style => "width:600px;margin:auto;"}
  %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
  %form{"accept-charset" => "UTF-8", :action => "https://crm.zoho.com/crm/WebToLeadForm", :method => "POST", :name => "WebToLeads2515680000000119217", :onsubmit => "javascript:document.charset=\"UTF-8\"; return checkMandatory()"}
    / Do not remove this code.
    %input{:name => "xnQsjsdp", :style => "display:none;", :type => "text", :value => "4c71a257351133d401ef44f996154dfa537b9b13f1b01563059547a19b0736f8"}/
    %input#zc_gad{:name => "zc_gad", :type => "hidden", :value => ""}/
    %input{:name => "xmIwtLD", :style => "display:none;", :type => "text", :value => "9bca6506e09d8d31d6db2beb94f7c9e3aca5f0c405b02dcfc719caddc9dc4aa9"}/
    %input{:name => "actionType", :style => "display:none;", :type => "text", :value => "TGVhZHM="}/
    %input{:name => "returnURL", :style => "display:none;", :type => "text", :value => "http://locvanrice.net"}/
    / Do not remove this code.
    :css
      tr , td {
      	padding:6px;
      	border-spacing:0px;
      	border-width:0px;
      	}

    %table{:style => "width:600px;background-color:white;color:black"}
      %tr
        %td{:colspan => "2", :style => "text-align:left;color:black;font-family:Arial;font-size:14px;"}
          %strong Contact Form
      %tr
        %td{:style => "nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:200px;"}
          Company
          %span{:style => "color:red;"} *
        %td{:style => "width:250px;"}
          %input{:maxlength => "100", :name => "Company", :style => "width:250px;", :type => "text"}/
      %tr
        %td{:style => "nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:200px;"}
          Last Name
          %span{:style => "color:red;"} *
        %td{:style => "width:250px;"}
          %input{:maxlength => "80", :name => "Last Name", :style => "width:250px;", :type => "text"}/
      %tr
        %td{:style => "nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:200px;"} Email
        %td{:style => "width:250px;"}
          %input{:maxlength => "100", :name => "Email", :style => "width:250px;", :type => "text"}/
      %tr
        %td{:style => "nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:200px;"} Mobile
        %td{:style => "width:250px;"}
          %input{:maxlength => "30", :name => "Mobile", :style => "width:250px;", :type => "text"}/
      %tr
        %td{:style => "nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:200px;"} Skype ID
        %td{:style => "width:250px;"}
          %input{:maxlength => "50", :name => "Skype ID", :style => "width:250px;", :type => "text"}/
      %tr
        %td{:colspan => "2", :style => "text-align:center; padding-top:15px;"}
          %input{:style => "font-size:12px;color:#131307", :type => "submit", :value => "Submit"}/
          %input{:style => "font-size:12px;color:#131307", :type => "reset", :value => "Reset"}/
    :javascript
      var mndFileds=new Array('Company','Last Name');
       	  var fldLangVal=new Array('Company','Last Name');
      		var name='';
      		var email='';

       	  function checkMandatory() {
      		for(i=0;i<mndFileds.length;i++) {
      		  var fieldObj=document.forms['WebToLeads2515680000000119217'][mndFileds[i]];
      		  if(fieldObj) {
      			if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length==0) {
      			 if(fieldObj.type =='file')
      				{
      				 alert('Please select a file to upload.');
      				 fieldObj.focus();
      				 return false;
      				}
      			alert(fldLangVal[i] +' cannot be empty.');
         	   	  	  fieldObj.focus();
         	   	  	  return false;
      			}  else if(fieldObj.nodeName=='SELECT') {
        	   	   	 if(fieldObj.options[fieldObj.selectedIndex].value=='-None-') {
      				alert(fldLangVal[i] +' cannot be none.');
      				fieldObj.focus();
      				return false;
      			   }
      			} else if(fieldObj.type =='checkbox'){
       	 	 	 if(fieldObj.checked == false){
      				alert('Please accept  '+fldLangVal[i]);
      				fieldObj.focus();
      				return false;
      			   }
      			 }
      			 try {
      			     if(fieldObj.name == 'Last Name') {
      				name = fieldObj.value;
       	 	 	    }
      			} catch (e) {}
      		    }
      		}
      	     }
