// 1. Colors
// ==========================================================================

$primary-color: #00E676;
$primary-color-dark: #06570B;
$primary-color-light: #5DFFA2;

$secondary-color: #FFC200;
$secondary-color-dark: #C89100;
$secondary-color-light: #FFF43C;

$success-color: $primary-color;
$error-color: #EE544F;
$link-color: #1A94FA;

$grey-light: #E6ECF4;
$grey-medium: #95A2B1;
$grey-dark: #262F3B;

// 20. Typography
// ==========================================================================

$off-black: rgba(0, 0, 0, 0.87) !default;
// Header Styles
$h1-fontsize: calc(10px + 3.9vmin);
$h2-fontsize: calc(10px + 2.2vmin);
$h3-fontsize: 2.92rem !default;
$h4-fontsize: calc(10px + 2.2vmin);
$h5-fontsize: 1.64rem !default;
$h6-fontsize: 1rem !default;