// Place all the styles related to the Website controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.primary-background {
  background-color: $primary-color;
  &:hover {
    background-color: $primary-color;
  }
}
.primary-text {
  color: $primary-color;
}
.secondary-background {
  background-color: $secondary-color;
}
.secondary-text {
  color: $secondary-color;
}

// Define brand color/text 
.gcc-deo {
  background-color: rgba(142, 198, 63, 0.9);
}
.gcc-mem {
  background-color: #FFFFFF;
}
.gcc-xop {
  background-color: rgba(255, 193, 7, 0.9);
}
.gcc-thom {
  background-color: rgba(244, 39, 87, 0.8);
}

// Header with background pattern
.header {
  min-height: 40vh;
  background-image: url(asset-path("brand/agri_pattern.png"));
  img {
    height: 50px;
  }
  .container {
      min-height: 30vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .container nav {
    box-shadow: none;
  }
  nav ul li:nth-last-child(2) {
    @extend .secondary-background
  }
  nav ul li ul li:nth-last-child(2) {
    background-color: white;
  }
  .header-title {
    text-align: center;
    color: white;
  }
  .dropdown-content li > a {
    font-size: 14px;
  }
}

// Footer with background pattern
.footer {
  margin-top: 100px;
  background-image: url(asset-path("brand/agri_pattern.png"));
  .footer-copyright {
    background-color: $primary-color-dark;
  };
  .footer-copyright b {
    text-align: center;
  }
  li {
    padding: 10px;
    font-size: 16px;
  }
  .col {
    padding-left: 0.2 vmin;
  }
}

// Filter bar for blog-type pages
.filter-bar {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.50);
  background-color: $primary-color-dark;
  .tabs {
    background-color: transparent;
    .tab a:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
    .tab a {
      color: white;
    };
    .indicator {
      background-color: white;
    }
  }
}

//Slider
#features {
  .caption.left-align{
    display: flex;
    flex-flow: row wrap;
    .btn-large, .btn {
      margin: 2px;
    };
  }
}

// Price Quote

.ldashboard {
  min-height: 400px;
  .lcards {
    font-size: 14px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    a {
      color: inherit;
      text-decoration: none;
    }
    .lcard {
      flex: 1 1 220px;
      max-width: 220px;
      height: 138px;
      display: flex;
      flex-flow: column nowrap;
      margin-bottom: 3px;
      border-right: solid 3px white;
      .ltop {
        flex: 0 0 86px;
        background-color: $secondary-color;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        .lprice {
          font-size: 24px;
          padding-right: 40px;
        };
        .valign-wrapper {
          justify-content: flex-end;
          padding-right: 40px;
        }
      };
      .lbot {
        flex: 1 1 auto;
        background-color: $secondary-color-dark;
        padding-left: 10px;
      }
    }
  };
}

// Search bar
#nav-search-desktop {
  .input-field {
    input {
      height: 100%;
      font-size: 14px;
      border: none;
      color: transparent;
    }

    label {
      top: 0;
      right: 0;
      left: auto;

      i {
        color: rgba(255,255,255,1);
        transition: color .3s;
      }
      &.active i { color: $secondary-color; }
    }
  }
  .input-field input[type=search] {
    display: block;
    line-height: inherit;
    background-color: transparent;
    padding-left: 0px;
    width: 50px;

    &:focus {
      background-color: $input-background;
      border: 0;
      box-shadow: none;
      color: #444;
      width: 100%;
      transition-duration: 200ms;
    }

  }
}

// Content section
.contents {
  .card.large {
    height: 500px;
  }
  .card.large > .card-image {
    max-height: 37.5%;
  }
  .card.large > .card-content {
    max-height: 60%;
  }
}

//shared/Self
.card-panel.contact-card{
  .contacts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .contacts a {
    flex: 0 0 80px;
    text-decoration: none;
    outline: none;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    transition: margin 0.3s ease;
  }
  .contacts a img {
      width: 89%;
  }
  .contacts a span {
      font-weight: 300;
      font-size: 12px;
      margin-top: 10px;
      display: inline-block;
      color: rgba(0, 0, 0, 0.6);
  }
  .user_img2 {
    text-align: center;
    margin-top: -62px;
  }
  .circle {
    width: 94px;
    height: 94px;
    border: 4px solid white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }
}

//shared/Zoho
.card-panel#crmWebToEntityForm{
}

//Shared/Contact
#contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  .contact-element {
    flex: 1 1 320px;
    max-width: 360px;
    margin-top: 10px;
  }
}

#addresses {
  .card {
    height: 160px;
  }
}
// Modal
.modal-overlay {
  background-color: $secondary-color
}

// Fix error on super smal screen
@media #{$small-and-down} {
  .carousel .carousel-item {
    width: 150px;
    height: 150px;
  }
}

// Landing page
#landing {
  .caption.first-text {
    top:0;
    left:5%;
  }
  .caption.buy {
    bottom:5%;
    right:5%;
    top: auto;
    left: auto;
    width:auto;
    font-weight: 500;
    z-index: 999;
  }
  .caption.next {
    bottom:50%;
    right:0;
    top: auto;
    left: auto;
    width:auto;
  }
  .caption.previous {
    bottom:50%;
    right:auto;
    top: auto;
    left: 0;
    width:auto;
  }
  .caption.info-desktop {
    bottom:0%;
    right:auto;
    top: auto;
    left: 50%;
    width:auto;
    height: 100%;
    .valign-wrapper {
      flex-direction: column;
      height: 100%;
      align-items: flex-start;
      justify-content: center;
      .card {
        background-color: rgba(255, 255, 255, 0);
        width: 80%;
        .card-title {
          @extend h4;
        }
      }
    }
  }
  .caption.info-mobile-left {
    bottom:0%;
    right:auto;
    top: auto;
    left: 2%;
    width:auto;
    height: 100%;
    .valign-wrapper {
      flex-direction: column;
      height: 100%;
      align-items: flex-start;
      justify-content: center;
      .card {
        background-color: rgba(0, 0, 0, 0.1);
        width: 80%;
        .card-content {
          padding: 6px;
        }
        .card-title {
          @extend h5;
        }
      }
    }
  }
  .caption.info-mobile-right {
    bottom:0%;
    right:auto;
    top: auto;
    left: 20%;
    width:auto;
    height: 100%;
    .valign-wrapper {
      flex-direction: column;
      height: 100%;
      align-items: flex-start;
      justify-content: center;
      .card {
        background-color: rgba(255, 255, 255, 0);
        width: 95%;
        .card-content {
          padding: 6px;
        }
        .card-title {
          @extend h5;
        }
      }
    }
  }
}

// Gao chen com
#gcc {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .card {
    flex-basis: 1 1 auto;
    min-width: 320px;
    max-width: 24vw;
    .card-title {
      text-decoration: underline;
    }
  }
}