<footer class="footer">
      <div class="row">
        <div class="col l3 m6 s12">
              <h5 class="white-text">Contact Info</h5>
              <ul>
                <li>DT 852 Tan Duong Lai Vung Dong Thap</li>
                <li>+84 939 024 061</li>
                <li>locvanrice@gmail.com</li>
              </ul>
        </div>
        <div class="col l3 m6 s12">
              <h5 class="white-text">Social Media</h5>
              <ul>
                <li><a class="white-text strong" href="#!">Facebook</a></li>
                <li><a class="white-text strong" href="#!">Skype</a></li>
                <li><a class="white-text strong" href="#!">Zalo</a></li>
                <li><a class="white-text strong" href="#!">weChat</a></li>
              </ul>
        </div>
        <div class="col l3 m6 hide-on-small-only">
              <h5 class="white-text">Product Category 1</h5>
              <ul>
                <li><a class="white-text strong" href="#!">Link 1</a></li>
                <li><a class="white-text strong" href="#!">Link 2</a></li>
                <li><a class="white-text strong" href="#!">Link 3</a></li>
                <li><a class="white-text strong" href="#!">Link 4</a></li>
              </ul>
        </div>
        <div class="col l3 m6 hide-on-small-only">
              <h5 class="white-text">Product Category 2</h5>
              <ul>
                <li><a class="white-text strong" href="#!">Link 1</a></li>
                <li><a class="white-text strong" href="#!">Link 2</a></li>
                <li><a class="white-text strong" href="#!">Link 3</a></li>
                <li><a class="white-text strong" href="#!">Link 4</a></li>
              </ul>
        </div>

      </div>
      <div class="footer-copyright">
        <div class="container center-align">
          <b class="white-text">
            ©  2017 - Loc Van Rice - Reliable Vietnam Rice Manufacturer & Exporter
          </b>
        </div>
      </div>
    </footer>
