<div class = 'container'>
  <h1>Welcome to Admin Page</h1>

  <div class="collection with-header">
    <h5 class='colection-header'>Available contents</h5>
    <a href="<%= contents_path(:about) %>" class="collection-item">Abouts</a>
    <a href="<%= contents_path(:blog) %>" class="collection-item">Blogs</a>
    <a href="<%= contents_path(:product) %>" class="collection-item">Products</a>
  </div>

</div>