#homepage-header
  = render 'shared/header'
%p.center-align
  %a.btn.red.pulse{href: 'http://ho.lazada.vn/SHSiic', target: '_blank', onclick: "return gtag_report_conversion_buygcc('http://ho.lazada.vn/SHSiic');"}
    %i.material-icons.left> shopping_basket
    Mua ngay - miễn phí vận chuyển
//Vue App
- if @gcc  
  -# = content_tag(:div, nil, id: 'gcc-data', data: {products: @gcc})
  #vue-gcc
    %md-layout{'md-gutter' => '16','md-align' => 'center','md-vertical-align' => 'center'}
      - @gcc.each do |key, value|
        %md-layout{'md-flex-xsmall' => '95', 'md-flex-small' => '35', 'md-flex-medium' => '35'}
          %product-card{key: key, title: value[:title],
           price: value[:price], desc: value[:description],
            image: value[:image], seo: value[:seo], view: value[:view], shop: value[:shop]}
//Vue App
#homepage-footer
  = render 'shared/footer'