#landing.slider.fullscreen
  %ul.slides
    %li
      %img{:src => "http://storage.googleapis.com/singular-pixel-4346/Public/landing1.jpg"}/
      .caption.first-text
        %blockquote
          %h3
            Gạo sạch
            %br chén cơm ngon
      .caption.buy
        %a.btn-large.pulse.primary-background{:href => "#contact-modal"}
          %i.material-icons.left> shopping_basket
          140,000 / 10kgs
      .caption.next
        %a.waves-effect.waves-light.btn.primary-background
          >>>
    %li
      %img{:src => "http://storage.googleapis.com/singular-pixel-4346/Public/landing-d.jpg", class: "hide-on-small-only"}/
      %img{:src => "http://storage.googleapis.com/singular-pixel-4346/Public/landing-m.jpg", class: "hide-on-med-and-up"}/
      .caption.previous
        %a.waves-effect.waves-light.btn.secondary-background
          <<<
      .caption.buy
        %a.btn-large.pulse.secondary-background{:href => "#contact-modal"}
          %i.material-icons.left> shopping_basket
          140,000 / 10kgs
      .caption.info-desktop.hide-on-small-only
        .valign-wrapper
          .card
            .card-content
              .card-title Gạo dẻo, mềm, thơm
              Hạt gạo chén cơm có màu trắng trong và vị thơm nhẹ. Khi nấu với tỷ lệ <b>10 gạo : 11 nước</b> cho hạt cơm dẻo, mềm, vẫn ngon khi để nguội.
          .card
            .card-content
              .card-title Chứng nhận VSATTP
              Hạt gạo chén cơm được Sở Y Tế tỉnh Đồng Tháp cấp giấy chứng nhận đủ tiêu chuẩn vệ sinh an toàn thực phẩm. Chúng tôi cam kết sản phẩm không sử dụng hóa chất tẩy trắng và tạo mùi.
          .card
            .card-content
              .card-title Giao gạo tận tay
              Hiện tại, chúng tôi hỗ trợ giao gạo miễn phí tận tay người tiêu dùng trong địa bàn Thành Phố Hồ Chí Minh trong tối đa 2 ngày làm việc.

      .container.caption.info-mobile.hide-on-med-and-up
        .valign-wrapper
          .card
            .card-content
              .card-title Gạo dẻo, mềm, thơm
              Hạt gạo chén cơm có màu trắng trong và vị thơm nhẹ. Khi nấu với tỷ lệ <b>10 gạo : 11 nước</b> cho hạt cơm dẻo, mềm, vẫn ngon khi để nguội.
          .card
            .card-content
              .card-title Chứng nhận VSATTP
              Hạt gạo chén cơm được Sở Y Tế tỉnh Đồng Tháp cấp giấy chứng nhận đủ tiêu chuẩn vệ sinh an toàn thực phẩm. Chúng tôi cam kết sản phẩm không sử dụng hóa chất tẩy trắng và tạo mùi.
          .card
            .card-content
              .card-title Giao gạo tận tay
              Hiện tại, chúng tôi hỗ trợ giao gạo miễn phí tận tay người tiêu dùng trong địa bàn Thành Phố Hồ Chí Minh trong tối đa 2 ngày làm việc.

  = render 'shared/contact_modal'