<div id='about-header'>
  <%= render 'shared/header' %>
</div>

<div class='container' id='price-quote'>
  <%= render 'shared/dashboard_card' %>
</div>
<p></p>

<div id='about-footer'>
  <%= render 'shared/footer' %>
</div>